.product {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #ecf0f1;

    .days-ctrl {
        display: flex;
        align-content: center;
        align-items: center;
    }

    .product-details {
        display: flex;
        justify-content: space-between;;
    }
}